@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&display=swap');

body{
  font-size: 12px;
  font-family: 'Manrope';
  color: #444;
}

.container{
  max-width: 1128px;
}

a{
  color: #00ccff;
  text-decoration: none;
  font-size: 12px;
}

a:hover{
  text-decoration: underline;
}

p{
  font-size: 20px;
}

img{
  max-width: 100%;
}

.cabecalho{
  width: 100%;
  height: 48px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.logo{
  float: left;
}

.menu li{
  float: right;
  display: inline;
  font-size: 14px;
  margin-left: 24px;
  margin-top: 12px;
  list-style: none;
}

.menu a{
  font-size: 20px;
  color: #999;
}

.banner{
  height: 450px;
  margin-bottom: 55px;
  position: relative;
}

.box{
  width: 480px;
  padding: 30px 48px;
  position: absolute;
  top: 180px;
  background-color: rgba(0,0,0,0.6);
}

.box p{
  font-size: 20px;
  color: #fff;
}

h1{
  margin: 0;
  font-size: 48px;
  font-weight: 200;
  color:#fff;
}

.rodape{
  width: 100%;
  margin: 30px 0;
  float: left;
  font-size: 30px;
}

.rodape p{
  margin-bottom: 0;
}

.rodape small{
  font-size: 18px;
}

.rodape a{
  font-size: 15px;
}