body {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: #444;
}

#container {
    max-width: 1128px;
}

a {
    color: #00ccff;
    text-decoration: none;
    font-size: 12px;   
}

a:active {
    text-decoration: underline;
}

p {
    font-size: 20px;
}

img {
    max-width: 100%;
}

#cabecalho {
    width: 100%;
    height: 48px;
    margin-top: 40px;
    margin-bottom: 40px;
}

#logo {
    float: left;
}

#menu {
    float: right;
}

ul {
    float: right;
    font-size: 14px;
    margin-left: 24px;
    margin-top: 12px;
    list-style: none;
    align-items: baseline;
}

li:a {
    font-size: 20px;
    color: #999;
}

#banner {
    height: 450px;
    margin-bottom: 55px;
    position: relative;
}

#box {
    width: 480px;
    padding: 30px 48px 30px 48px;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.6);
}

#box:p {
    font-size: 20px;
    color: #fff;
}

h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 48px;
    font-weight: 200;
    color: #fff;
}

#footer {
    width: 100%;
    margin: 30px 0 30px 0;
    float: left;
    font-size: 30px;
}

#footer:p {
    margin-bottom: 0;
}

#footer:small {
    font-size: 18px;
}